VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
ATTENDANCE_ADMIN_EMAIL=your_admin_email
ATTENDANCE_ADMIN_PASSWORD=your_admin_password
ATTENDANCE_SESSION_SECRET=your_random_session_secret
